.root {
	-fx-spacing: 30;
	-fx-background-image: url("catch.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1500 1000;
    -fx-background-position: center center;
	-fx-padding: 10;
}




.label {
	fx-font-family: "Chalkdust";
	-fx-font-size: 75px;
	-fx-font-weight: bold;
	
	
}
.button {
	-fx-font-family: "Arial";
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-background-color: WHITE;
	-fx-text-fill: #383640;
}

.button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;

}
